label{
    margin: 10px;
}

button{
    width: 180px;
    background-color: orange !important;
    border-color: orange !important;
}

h4{
    position: relative;
    left: 1em;
}

label{
    justify-content: left;
    align-items: flex-start;
    text-align: left;
}

.leftCenter {
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    float: left;
}


.right {
    position: relative;
    right: 13em;
    top: 10em;
    width: 30%;
}
