h1 {position: relative; left: 1em; top: 1em}
label {position: relative; left: 4em}
button {position: relative; left: 16em}
img {position: fixed; right: 0}
p {font-size: small; position: relative; left: 3em}