select {margin: 10px;}
label {
    position: relative;
    left: 4em
}
button {
    font-size: large;
    width: 180px;
    height: 40px;
    position: relative;
    left: 5em;
    margin-left: 55px;
}

#admin_map_id {height: 450px}

.twoColumn{
    width: 49%;
    float:left;
    left: 2em;
}
