h4 {position: relative; padding-left: 2em; padding-top: 10px;}
select {margin: 10px;}
label {
    position: relative;
    left: 4em
}
button {
    font-size: large;
    width: 180px;
    height: 40px;
    background-color: orange !important;
    border-color: orange !important;
}

#admin_map_id {height: 380px; width: 380px; margin-top: 40px}

.twoColumn{
    width: 49%;
    float:left;
    left: 2em;
}
