h4 {padding-top: 12px; position: relative; left: 1em;}

select {margin: 10px;}

label {
    position: relative;
    left: 4em
}

button {
    font-size: large;
    width: 180px;
    height: 40px;
    background-color: orange !important;
    border-color: orange !important;
}

#aud_map_id {height: 350px}

.twoColumn{
    width: 40%;
    float:left;
    left: 2em;
}
