select {margin: 10px;}

label {
    position: relative;
    left: 4em
}

button {
    font-size: large;
    width: 180px;
    height: 40px;
    position: relative;
    left: 5em;
    margin-left: 55px;
    margin-top: 30px;
}

table {
    border: 1px solid orange;
    border-collapse: collapse;
    position: relative;
    left: 1em;
}

th {
    border: 1px solid orange;
    padding: 10px;
}

td {
    border: 1px solid orange;
    padding: 10px;
}

#aud_map_id {height: 450px}

.twoColumn{
    width: 40%;
    float:left;
    left: 2em;
}
