h3 {position: relative; left: 1em}
img {
    max-width: 80%;
    position: relative;
    left: 2em;
}
p{font-size: small}
#map_id{height: 350px}

.twoColumn{
    width: 49%;
    float:left;
    left: 2em;
}

.oneColumn{
    width: 100%;
    float: right;
    text-align: center;
}

.leftButton{
    position: relative;
    left: 18em;
}

.details{
    color: dimgrey;
}