h3 {padding-top: 10px; position: relative; left: 1em;}
h4 {padding-top: 12px; position: relative; left: 1em;}
p {font-size: small}
#map_id {height: 280px}
button {background-color: orange !important; border-color: orange !important;}

.twoColumn{
    width: 49%;
    float:left;
    left: 2em;
}

.oneColumn{
    width: 100%;
    float: right;
    text-align: center;
}

.leftButton{
    position: relative;
    left: 18em;
}

.details{
    color: #f4f4f4;
}

.backgroundImage {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;

    height: 100vh;

    background-position: center;
    background-size: cover;

    background-color: black;
}